# ==========================================
# 1. DJANGO CORE SETTINGS
# ==========================================
DEBUG=False
SECRET_KEY=secret_key_here
ALLOWED_HOSTS=localhost,127.0.0.1,api.bloodonate.org,

# ==========================================
# 2. POSTGRES DATABASE SETTINGS
# ==========================================
POSTGRES_DB=DB_NAME
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/DB_NAME

# ==========================================
# 3. SECURITY & CROSS-DOMAIN (CORS) SETTINGS
# ==========================================
# Domains allowed to make API requests
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://bloodonate.org,https://www.bloodonate.org
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://bloodonate.org,https://www.bloodonate.org
FRONTEND_URL=https://www.bloodonate.org
AUTH_COOKIE_DOMAIN=.bloodonate.org

# ==========================================
# 4. CLOUDINARY (MEDIA STORAGE)
# ==========================================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# ==========================================
# 5. EMAIL (SMTP)
# ==========================================
EMAIL_HOST=smtp.email.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=support@bloodonate.org
EMAIL_HOST_PASSWORD=email_host_password
DEFAULT_FROM_EMAIL=support@bloodonate.org