# ==========================================
# 1. DJANGO CORE SETTINGS
# ==========================================
DEBUG=True
SECRET_KEY=secret_key_here
ALLOWED_HOSTS=localhost,127.0.0.1

# ==========================================
# 2. POSTGRES DATABASE SETTINGS
# ==========================================
POSTGRES_DB=bloodonate_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=navafv
DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/DB_NAME

# ==========================================
# 3. SECURITY & CORS SETTINGS
# ==========================================
CORS_ALLOWED_ORIGINS=https://localhost:5173,https://localhost:8000
CSRF_TRUSTED_ORIGINS=https://localhost:5173,https://localhost:8000
FRONTEND_URL=https://localhost:5173

# ==========================================
# 4. CLOUDINARY (MEDIA STORAGE)
# ==========================================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# ==========================================
# 5. EMAIL (SMTP)
# ==========================================
EMAIL_HOST=smtp.email.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=support@bloodonate.org
EMAIL_HOST_PASSWORD=email_host_password
DEFAULT_FROM_EMAIL=support@bloodonate.org