# Core Django & Server
Django==5.2.8
gunicorn==23.0.0
psycopg2-binary==2.9.11
dj-database-url==3.0.1
whitenoise==6.11.0

# Security & Environment
python-dotenv==1.2.1
django-cors-headers==4.9.0

# Django REST Framework & Authentication
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
pyotp==2.9.0

# API Utilities (Documentation, Filtering, History)
drf-spectacular==0.29.0
drf-spectacular-sidecar==2025.10.1
django-filter==25.2
django-simple-history==3.10.1

# Media Storage
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
Pillow==12.0.0

# Testing
pytest==9.0.3
pytest-django==4.12.0
model-bakery==1.17.0